@import './font-IBM_VGA8.scss';

body {
  margin: 0px;
}

* {
  font-family: Verdana, Geneva, sans-serif;
}

canvas {
  cursor: text;
  letter-spacing: 1px;
}

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'sidebar document minimap'
    'footer footer footer';

  .sidebar {
    grid-area: sidebar;
    padding-left: 15px;
    padding-top: 10px;

    [data-fg-color],
    [data-bg-color] {
      border: 1px solid gray;
      height: 30px;
      width: 30px;
      margin-left: -5px;
    }

    [data-bg-color] {
      position: relative;
      margin-top: -20px;
      margin-left: 5px;
      z-index: -1;
    }

    .palette {
      $boxSize: 16px;

      display: grid;
      grid-template-columns: repeat(2, $boxSize);
      grid-template-rows: repeat(8, $boxSize);
      grid-gap: 4px;
      padding-top: 10px;

      [data-palette-color] {
        border: 1px solid gray;
        padding: 1px;
        background-color: attr(data-palette-color);
      }
    }
  }

  .document {
    grid-area: document;
    padding: 5px;
    display: grid;
  }

  .footer {
    grid-area: footer;
    padding-left: 10px;

    .charset {
      display: flex;
      font-size: 16px;

      [data-character] {
        user-select: none;
        padding-right: 16px;

        label {
          font-size: 14px;
          padding-right: 5px;
        }

        div {
          display: inline;
          padding: 4px 3px;
          font-family: 'IBM VGA8';
          border: 1px solid gray;
          color: gray;
          background: black;
        }
      }
    }
  }
}
